<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudios 1</h1> - <h3>(2012)</h3>

            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit doloribus quibusdam porro, maiores sed ipsam maxime nisi temporibus! Sunt at laudantium sit atque dicta consequuntur voluptatibus nostrum cupiditate minima blanditiis.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>(2020)</h3>

            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque exercitationem quos enim nobis illum aut nesciunt ducimus amet sunt accusantium non fuga in sed, necessitatibus similique vitae error soluta tenetur! </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1> - <h3>(2022)</h3>

            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia asperiores voluptatibus vel atque suscipit, eveniet omnis impedit nam quo! Non est iste inventore ipsum, laudantium perferendis nihil adipisci exercitationem numquam! </p>
        </ul>
    </div>
</div>

