<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Lomiteria Betos</h1> - <h3>(2012)</h3>

            </li>
            <p>Me desempeñe como Encargado </p>
        </ul>
        <ul>
            <li>
                <h1>Peñon del Aguila</h1> - <h3>(2020)</h3>

            </li>
            <p>Me desempeñe como Destilador </p>
        </ul>
        <ul>
            <li>
                <h1>Sagrada Destileria</h1> - <h3>(2022)</h3>

            </li>
            <p>Me desempeñe como Destilador </p>
        </ul>
    </div>
</div>
